* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: crosshair;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #0c1524;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    margin-top: -20px;
}

.menu h2 {
    font-size: 6rem;
    margin-bottom: 50px;
    background: -webkit-linear-gradient(#ffffff, #38495a);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* size of h2 */
@media(max-width: 920px) {
    .menu h2 {
        font-size: 100px;
    }
}

@media(max-width: 757px) {
    .menu h2 {
        font-size: 80px;
    }
}

@media(max-width: 610px) {
    .menu h2 {
        font-size: 70px;
    }
}

@media(max-width: 540px) {
    .menu h2 {
        font-size: 60px;
    }
}

@media(max-width: 460px) {
    .menu h2 {
        font-size: 55px;
    }
}

@media(max-width: 390px) {
    .menu h2 {
        font-size: 20px;
    }
}

@media(max-width: 375px) {
    .menu h2 {
        font-size: 20px;
    }
}

button {
    width: 210px; /* Set a fixed width for the buttons */
    height: 60px; /* Set a fixed height for the buttons */
    border: 3px solid rgb(25, 0, 255);
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.603);
    transition: all 0.1s ease-in-out;
    padding: 10px 20px;
    margin: 0 10px 10px 10px;
}

button:hover {
    box-shadow: 0 0 10px 5px white;
}

.loginbutton {
    margin-right: 30px;
    background-color: rgb(25, 0, 255);
}

@media(max-width: 513px) {
    button {
        font-size: 20px;
    }
}

/*check again later*/
@media(max-width: 610px) {
    .menu h2 {
        font-size: 70px;
    }
    button {
        margin-right: 20px;
    }
}

/* same here */
@media (max-width: 463px) {
    .play {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .playervsplayer, 
    .playervsai {
        margin: 0 20%;
        margin-bottom: 20px;
    }
}

@media (max-width: 494px) {
    .play {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .playasguest, 
    .loginbutton {
        margin: 0 20%;
        margin-bottom: 20px;
    }
}



/*registration*/

.registration {
    margin-top: 50px;
    color: white;
}

.registration a {
    color: #007bff; /* Change the color to your preference */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the text bold if desired */
  }
  
  .registration a:hover {
    text-decoration: underline; /* Add underline on hover if desired */
    color: #0056b3; /* Change the color on hover if desired */
  }
  

/*footer*/
footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    color: white;
}

/*index when login*/

.logout {
    width: 160px; /* Set a fixed width for the buttons */
    height: 60px; /* Set a fixed height for the buttons */
    border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.603);
    transition: all 0.1s ease-in-out;
    padding: 10px 20px;
    margin: 0 10px 10px 10px;
    border: 3px solid rgb(255, 0, 0);
    margin-top: 70px;
}

/* code for drop down menu that shows the username of the user*/

.user-dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}

.user-dropdown-content {
    display: none;
    position: relative;
    background-color: transparent;
    min-width: 120px;
    margin-right: -15px;
    z-index: 1;
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}

.logout-box {
    box-shadow: 0 0 10px 5px rgb(218, 204, 204);
}

.logout-box:hover {
    box-shadow: 0 0 10px 5px rgb(255, 0, 0);
}

.user-dropdown-content a {
    text-decoration: none; /* Remove default underline */
    color: white; /* Set the text color */
    padding: 8px 16px; /* Add padding for better visibility */
    display: block; /* Make the links block-level elements */
    margin-right: 20px;
    margin-top: 20px;
}

.arrow {
    font-size: 16px;
}


/* choosing what mode as guest */

.back {
    margin-top: 70px;
    width: 150px; /* Set a fixed width for the buttons */
    height: 60px; /* Set a fixed height for the buttons */
    border: 3px solid rgb(255, 0, 0);
}

.back:hover {
    border: 3px solid rgb(255, 0, 0);
}


/* choosing diffeculty of AI */

.easy, 
.diff {
    margin-right: 20px;
}

.easy, 
.diff,
.expert {
    font-weight: bold;
}

/* login and register */

.reg_container {
    max-width: 600px;
    margin: 150px auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.603);
    box-shadow: 0 0 10px 5px rgb(25, 0, 255);
}

.log_container {
    max-width: 600px;
    margin: 200px auto;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.603);
    box-shadow: 0 0 10px 5px rgb(25, 0, 255);
}

.form-group{
    margin-bottom: 30px;
}
.register {
    margin-top: 20px;
    color: white;
}

@media(max-width: 1629px) {
    .reg_container {
        max-width: 500px;
        margin-top: 90px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 1024px) {
    .log_container {
        max-width: 800px;
        margin-top: 180px;
        margin-right: auto;
        margin-left: auto;
    }
    .reg_container {
        max-width: 800px;
        margin-top: 180px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 870px) {
    .log_container {
        max-width: 500px;
        margin-top: 180px;
        margin-right: auto;
        margin-left: auto;
    }
    .reg_container {
        max-width: 500px;
        margin-top: 90px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 560px) {
    .log_container {
        max-width: 400px;
        margin-top: 180px;
        margin-right: auto;
        margin-left: auto;
    }
    .reg_container {
        max-width: 400px;
        margin-top: 90px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 540px) {
    .log_container {
        max-width: 400px;
        margin-top: 150px;
        margin-right: auto;
        margin-left: auto;
    }
    .reg_container {
        max-width: 400px;
        margin-top: 90px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 450px) {
    .log_container {
        max-width: 300px;
        margin-top: 180px;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
    }
    .reg_container {
        max-width: 300px;
        margin-top: 130px;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
    }
}

@media(max-width: 375px) {
    .log_container {
        max-width: 300px;
        margin-top: 95px;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
    }
}

@media only screen and (max-width: 375px) {
    .reg_container {
        max-width: 300px; /* Adjust the max-width as needed for smaller screens */
        margin: 50px auto; /* Adjust the margin as needed */
        padding: 20px; /* Adjust the padding as needed */
    }
}

@media(max-width: 360px) {
    .log_container {
        max-width: 300px;
        margin-top: 95px;
        margin-right: auto;
        margin-left: auto;
    }
    .reg_container {
        max-width: 300px;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

/* history */

.history {
    color: white;
    text-align: center;
    margin-top: 40px; 
}

.table-container {
    max-height: 400px; /* Set a fixed height for the table container */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
}

/* Adjustments to your existing table styles */
table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(25, 0, 255);
    color: white;
}

.details {
    color: white; /* Add your desired background color for details */
}

.back_history {
    position: absolute;
    width: 200px; /* Set a fixed width for the buttons */
    height: 60px;
    top: 50%;
    left: 50%;
    margin-top: 350px;
    margin-left: -90px; /* Adjusted margin for centering */
    border: 3px solid rgb(255, 0, 0);
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.1s ease-in-out;
}

.back_history:hover {
    box-shadow: 0 0 10px 5px white;
}


